* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    padding: 25px;
    padding-left: 120px;
}

.subinscription {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 67px;
    padding: 36px;
    background: #692DE9;
    border-radius: 5px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}


.clock {
    width: 360px;
    height: 184px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(3, 3, 3, 0.8);
    border-radius: 5px;
    gap: 24px;
}

.clockTitle {
    color: #F1F1F1;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.clockTime {
    width: 49px;
    height: 37px;
    color: #692DE9;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}

.clockSecondaryTitle {
    color: #F1F1F1;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.main {
    background-image: url("../imgs/pexels-pixabay-2159\ 1.png");
}

.page {
    background-size: 100% 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    padding: 70px;
}

.mainPage {
    background-color: #010101;
}

.title {
    color: #F1F1F1;
    font-family: sans-serif;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.redirect {
    padding-bottom: 24px;
    padding-right: 120px;

}

.redirect>a {
    color: #000000;
    text-decoration: none;
}

.clockAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68px;
    gap: 16px;
}

.secondPageIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.secondPageIcon {
    width: 284px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.secondPageText {
    color: #F1F1F1;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.secondPageSubtitle {
    color: #F1F1F1;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
}

.secondPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.tertPage {
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    height: 700px;
}

.tertTitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 55px;
    color: #F1F1F1;
    padding-bottom: 24px;
}

.tertSubTitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.tertRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px 0px;
}

.tertWidget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 74px;
    background: linear-gradient(129.28deg, #692DE9 0%, rgba(105, 45, 233, 0.6) 0.01%, rgba(105, 45, 233, 0.5) 100%);
}

.quartTitle {
    width: 493px;
    height: 90px;


    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F1F1F1;
    padding-bottom: 64px;
}

.quartWidget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quartWidget{
   
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        height: 700px;
}